body {
    font-family: "Alkatra", sans-serif;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    display: block;
    margin: 0 0 10px 0;
}

 .element {
    color: blue;
    background: gray;
    font-weight: bold;  
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.button {
    margin: 10px;
}

button:hover {
    background: blue;
}

@media all and (min-width: 540px) {
    body {
        text-align: justify;
       margin: 10% 10% 10% 10%;
    }
}